<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <table id="tempEmailTable" style="width: 31rem;
		margin:3.75rem auto;
		border:none;
		background-image:url('http://cdn.buymmog.com/1694588242982_top64.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-color: #FAFAFA">
        <tr>
            <td style="
			padding-top: 5rem;
			font-size: 1.2rem;
			text-align: center;
			color:white;
			border:none">
                <div style="margin:0 auto;">
                    <a style="
					vertical-align: middle;
					width:30%;
					display:inline-block;
					text-align:center;
					color: white;
					text-decoration: none;" href="https://www.buymmog.com/" target="_blank">HOME</a>
                    <a style="
					vertical-align: middle;
					width:36%;
					display:inline-block;
					text-align:center;
					color: white;
					text-decoration: none;
					border-left: 2px solid white;
					border-right: 2px solid white;" href="https://www.buymmog.com/contactus" target="_blank">CONTACT US</a>
                    <a style="
					vertical-align: middle;
					width:30%;
					display:inline-block;
					text-align:center;
					color: white;
					text-decoration: none;" href="https://tawk.to/chat/5fcf31b6920fc91564ce867d/default" target="_blank">LIVE CHAT
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 64px;border:none">
                <div style="background-color: white;
				width:28rem;
				box-sizing: border-box;
				margin:0 auto;
				margin-top: 2.4rem;
				padding:1.875rem 2.5rem 2.5rem 2.5rem;
				box-shadow: 0px 4px 8px 0px rgba(223,223,223,0.5);">
                    <div style="color: #A50104;font-size: 18px;margin-bottom: 20px">
                        Dear {user_name}
                    </div>
                    <div class='contenBox'>



                    	
                    </div>
                    <div style="padding-top: 2rem;">
                        <img src="http://cdn.buymmog.com/1693969918994_rb.png" alt="img" style="margin-right: 10px;
						 vertical-align: middle;
						 width: 60px">
                        <div style="display: inline-block;vertical-align: middle;">
                            <div>
                                <a style="font-size: 1.1rem;
								color: #333;
								margin-bottom: 8px;
								text-decoration:none" href="https://www.buymmog.com" target="_blank">BUYMMOG.COM</a>
                            </div>
                            <div>
                                <a style="font-size: 1rem;
								color: #333;
								text-decoration:none" href="mailto:admin@buymmog.com" target="_blank">admin@buymmog.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align:center;
			background-color: #44474a;
			border:none;
			color:white;">
                <div style="padding: 2rem 0;
				margin:0 auto;
				font-size: 1.2rem;">
                    <a style="display:inline-block;
					text-decoration: none;
					color: white;
					width:30%" href="https://www.buymmog.com/privat" target="_blank">
                        Privacy Policy
                    </a>
                    <a style="display:inline-block;
					text-decoration: none;
					color: white;
					border-left: 2px solid white;
					border-right: 2px solid white;
					width:36%" href="https://www.buymmog.com/terms" target="_blank">
                        Term Of Use
                    </a>
                    <a style="display:inline-block;
					text-decoration: none;
					color: white;
					width:30%" href="https://www.buymmog.com/contactus" target="_blank">
                        Contact Us
                    </a>
                </div>
                <div>
                    <a style="text-decoration: none;color: white;" href="https://www.facebook.com/52mmog" target="_blank">
                        <img src="http://cdn.buymmog.com/1694591918871_qq.png" style="margin-right: 15px">
                    </a>
                    <a style="text-decoration: none;color: white;" href="https://twitter.com/buymmog" target="_blank">
                        <img src="http://cdn.buymmog.com/1694591951071_ww.png" style="margin-right: 15px">
                    </a>
                    <a style="text-decoration: none;color: white;" href="https://www.tiktok.com/@buymmog_official?lang=en" target="_blank">
                        <img src="http://cdn.buymmog.com/1694592001958_23.png" style="margin-right: 15px">
                    </a>
                    <a style="text-decoration: none;color: white;" href="https://www.twitch.tv/mmogseller" target="_blank">
                        <img src="http://cdn.buymmog.com/1694591889654_212d.png" style="margin-right: 15px">
                    </a>
                    <a style="text-decoration: none;color: white;" href="https://www.instagram.com/buymmog_official/" target="_blank">
                        <img src="http://cdn.buymmog.com/1694591876690_12dw.png" style="margin-right: 15px">
                    </a>
                </div>
                <div style="color: white;font-size: 12px;padding:1rem 0">© 2023
                    <a href="https://www.buymmog.com" style="text-decoration: none;color: white">buymmog.com.</a>
                    All rights reserved.
                </div>
            </td>
        </tr>
    </table>
</body>

</html>